{% include 'header.html' %}

<!--Header-->
<section class="hero-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div>
                    <h1>I'm <span class="orange-text"><em>Derek Beistad</em></span></h1>
                </div>

                <div class="row justify-content-center">
                    <h5>
                        <div class="subheader"><a class="nav-link subtitle" href="{{ url_for('data_page') }}">☞ Data Analyst</a></div>
                        <div class="subheader"><a class="nav-link subtitle" href="{{ url_for('data_page') }}">☞ Web Developer</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </h5>
                </div>
            </div>
            <div class="header-quote">
                <h3 class="header-quote">"hope is passion for what is possible" - Søren Kierkegaard</h3>
            </div>
        </div>
</section>

<!--About-->
<section class="color-section text-section">

    <div class="container-fluid">
        <div class="row">
            <h2 class="small-headers">About Me</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 my-auto">
                <p class="left-aligned-paragraph">I'm a Data Analyst, Web Developer, and media producer based out of
                    Nashville, TN. I aim to provide unique insights by solving complex problems with data. I have 
                    technical experience and knowledge of programming languages, data analytics, data visualization, 
                    and web development.</p>
            </div>
            <div class="col-lg-6 my-auto">
                <img class="icon-img" src="static/images/data.png">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 my-auto order-lg-first order-last">
                <img class="icon-img" src="static/images/coding.png">
            </div>
            <div class="col-lg-6 my-auto">
                <p class="left-aligned-paragraph">Python, SQL, JavaScript, HTML, CSS, Tableau, PowerBI, Pandas,
                     Numpy, GeoPandas, SQLAlchemy
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 my-auto">
                <p class="left-aligned-paragraph">I am passionate about music, science, video, and photography. I
                    love traveling and h iking with my wife and dog. I enjoy learning and am always challenging myself.</p>
            </div>
            <div class="col-lg-6 my-auto">
                <img class="icon-img" src="static/images/travel.png">
            </div>
        </div>
        <div class="row">
            <h2 class="small-headers">Portfolios</h2>
        </div>
        <div class="row">
            <div class="col-md-6 my-auto">
                <a href="#video">
                    <button type="button" class="btn btn-light btn-lg port-btn">data analyst portfolio</button>
                </a>
            </div>
            <div class="col-md-6 my-auto">
                <a href="{{ url_for('data_page') }}">
                    <button type="button" class="btn btn-light btn-lg port-btn">web developer portfolio</button>
                </a>
            </div>
        </div>
    </div>
</section>


{% include 'footer.html' %}