{% include 'header.html' %}

<!--Header-->
<section class="offwhite-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>I'm <span class="orange-text"><em>Derek Beistad</em></span></h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-4 col-lg-3  subtitle">
                    <a class="nav-link subtitle" href="{{ url_for('code') }}">Software Developer</a>
                </div>
                <div class="col-5 col-md-3 col-xxl-2 subtitle">
                    <a class="nav-link subtitle" href="{{ url_for('photo') }}">Photographer</a>
                </div>
                <div class="col-5 col-md-3 col-lg-2 subtitle">
                    <a class="nav-link subtitle" href="{{ url_for('video') }}">Videographer</a>
                </div>
            </div>
        </div>
</section>

<!--About-->
<section class="color-section text-section">

    <div class="container-fluid">
        <div class="row">
            <h2 class="small-headers">About Me</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 my-auto">
                <p class="left-aligned-paragraph">I'm a Software Developer/Engineer, Web Developer, Data Analyst,
                    Photographer, and Video Producer currently based out of Tennessee. I am always learning and looking
                    to challenge myself. I aim to make a difference with my work. </p>
            </div>
            <div class="col-lg-6 my-auto">
                <img class="icon-img" src="static/images/travel.png">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 my-auto order-lg-first order-last">
                <img class="icon-img" src="static/images/coding.png">
            </div>
            <div class="col-lg-6 my-auto">
                <p class="left-aligned-paragraph">In addition to my experience as a developer and videographer, I am
                    very passionate about travel, music, hiking, and staying active both physically, mentally, and
                    professionally.
                </p>
            </div>
        </div>
        <div class="row">
            <h2 class="small-headers">Portfolios</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 order-first my-auto">
                <a href="{{ url_for('code') }}">
                    <button type="button" class="btn btn-light btn-lg port-btn">Developer Portfolio</button>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 my-auto">
                <a href="{{ url_for('photo') }}">
                    <button type="button" class="btn btn-light btn-lg port-btn">Photography
                        Portfolio
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 my-auto">
                <a href="{{ url_for('video') }}">
                    <button type="button" class="btn btn-light btn-lg port-btn">Videography
                        Portfolio
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>

<!--Skills-->
<section class="offwhite-section text-section">

    <div class="container-fluid">
        <div class="row">
            <h2 class="small-headers">Skills</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 my-auto left-aligned-paragraph">
                <div class="row">
                    <div class="col-lg-12 d-flex">
                        <ul class="mx-auto">
                            <li>Software Development</li>
                            <li>Object Oriented Programming (OOP)</li>
                            <li>Web Development</li>
                            <li>Photo and Video Production and Editing</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 d-flex">
                        <div class="mx-auto">
                            <h4 class="skill-title text-center">Languages</h4>
                            <ul>
                                <li>Python</li>
                                <li>SQL</li>
                                <li>JavaScript</li>
                                <li>HTML</li>
                                <li>CSS</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 d-flex">
                        <div class="mx-auto">
                            <h4 class="skill-title text-center">Developer Tools</h4>
                            <ul>
                                <li>Flask</li>
                                <li>Bootstrap</li>
                                <li>SQLite & SQLAlchemy</li>
                                <li>Git</li>
                                <li>APIs</li>
                                <li>Selenium</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 d-flex">
                        <div class="mx-auto">
                            <h4 class="skill-title text-center">Other</h4>
                            <ul>
                                <li>Team Work</li>
                                <li>Interpersonal Communication</li>
                                <li>Networking</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 my-auto">
                <img class="icon-img" src="static/images/pencil.png">
            </div>
        </div>
        <div class="row">
            <h2 class="small-headers">Education</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 my-auto order-lg-first order-last">
                <img src="static/images/books.png">
            </div>
            <div class="col-lg-6 my-auto left-aligned-paragraph">
                <h4>University of Minnesota</h4>
                <p><strong>Bachelor of Science in Communication</strong></p>
                <ul>
                    <li>Graduated with Honors (3.9 GPA)</li>
                </ul>

            </div>
        </div>
        <div class="row">
            <h2 class="small-headers">Certificates</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 my-auto left-aligned-paragraph">
                <ul>
                    <li>The Complete Python Pro Bootcamp for 2022, March 2022</li>
                    <li>Coding Fundamentals I & II, Grasshopper App, June 2022</li>
                    <li>Python for Data Science, Sololearn, July 2022</li>
                    <li>Python Core, Sololearn, June 2022</li>
                    <li>Python Data Structures, Sololearn, May 2022</li>
                    <li>Web Development Fundamentals, Sololearn, July 2022</li>
                    <li>SQL, Sololearn, May 2022</li>
                    <li>Intermediate Python, Sololearn, December 2021</li>
                </ul>
            </div>
            <div class="col-lg-6 my-auto">
                <img class="icon-img" src="static/images/certificate.png">
            </div>
        </div>
        <div class="row">
            <h2 class="small-headers">Hobbies</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 my-auto order-lg-first order-last">
                <img class="icon-img" src="static/images/hiking.png">
            </div>
            <div class="col-lg-6 d-flex">
                <div class="mx-auto my-auto">
                    <div class="col-lg-6">
                        <ul>
                            <li>Travel</li>
                            <li>Photography</li>
                            <li>Coding</li>
                            <li>Music</li>
                        </ul>
                    </div>
                </div>
                <div class="mx-auto my-auto">
                    <div class="col-lg-6">
                        <ul>
                            <li>Movies</li>
                            <li>Hiking</li>
                            <li>Biking</li>
                            <li>Cooking</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>


</section>

{% include 'footer.html' %}