{% include 'header.html' %}

<!--Title-->
<section class="color-section">
    <div class="container-fluid">
        <div class="row">
            <h1>Photo Portfolio</h1>
        </div>
    </div>
</section>

<!--Main-->
<section class="offwhite-section">
    <img src="static/images/camera.png" alt="camera" class="camera-header-img">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-12 space">
                <div class="card">
                    <img src="static/images/concert-photo-header.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Concert Photography</h5>
                        <a href="https://phantomcatproductions.com/concert-photography" target="_blank"
                           class="btn btn-dark btn-lg port-btn">View Gallery</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 space">
                <div class="card">
                    <img src="static/images/wedding-photo-header.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Wedding Photography</h5>
                        <a href="https://phantomcatproductions.com/wedding-photography" target="_blank"
                           class="btn btn-dark btn-lg port-btn">View Gallery</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 space">
                <div class="card">
                    <img src="static/images/travel-photo-header.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Travel Photography</h5>
                        <a href="https://phantomcatproductions.com/travel" target="_blank"
                           class="btn btn-dark btn-lg port-btn">View Gallery</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'footer.html' %}