{% include 'header.html' %}

<!--Title-->
<section class="color-section">
    <div class="container-fluid">
        <div class="row">
    <h1>Video Portfolio</h1>
        </div>
    </div>
</section>

<!--Main-->
<section class="offwhite-section">
    <img src="static/images/video-camera.png" alt="camera image" class="camera-header-img">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-6 space">
                <div class="card">
                    <img src="static/images/concert-video-header.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Concert Videos</h5>
                        <a href="https://phantomcatproductions.com/concert-video" target="_blank" class="btn btn-dark btn-lg port-btn">View Gallery</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 space">
                <div class="card">
                    <img src="static/images/music-video-header.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Music Videos</h5>
                        <a href="https://phantomcatproductions.com/music-videos" target="_blank" class="btn btn-dark btn-lg port-btn">View Gallery</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 space">
                <div class="card">
                    <img src="static/images/wedding-video-header.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Wedding Videos</h5>
                        <a href="https://phantomcatproductions.com/wedding-videos" target="_blank" class="btn btn-dark btn-lg port-btn">View Gallery</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'footer.html' %}